<nav class="navigation">
    <ul class="navigation__list">
        <li class="header__title">Jesteś zalogowany jako: {{ session['name'] }}</li>
        
        <li class="navigation__item"><a href="{{ url_for('warehouse_main')}}" class="navigation__link">Menu główne</a></li>
        <li class="navigation__item"><a href="{{ url_for('warehouse_products')}}" class="navigation__link">Produkty</a></li>
        <li class="navigation__item"><a href="{{ url_for('warehouse_stock')}}" class="navigation__link">Stock</a></li>
        <li class="navigation__item"><a href="{{ url_for('warehouse_main_locations')}}" class="navigation__link">Magazyny</a></li>
        <li class="navigation__item"><a href="{{ url_for('warehouse_stock_locations')}}" class="navigation__link">Lokalizacje</a></li>
        <li class="navigation__item"><a href="{{ url_for('warehouse_orders')}}" class="navigation__link">Zamówienia</a></li>
        <li class="navigation__item"><a href="{{ url_for('warehouse_quarantine')}}" class="navigation__link">Kwarantanna</a></li>
        <li class="navigation__item"><a href="{{ url_for('warehouse_stock_control')}}" class="navigation__link">Kontrola Stocku</a></li>
        <li class="navigation__item"><a href="{{ url_for('warehouse_equipment')}}" class="navigation__link">Wyposażenie magazynu</a></li>
    </ul>
</nav>