<nav class="navigation">
    <ul class="navigation__list">
        <li class="header__title">Jesteś zalogowany jako: {{ session['name'] }}</li>
        <li class="navigation__item"><a href="/warehouseMain.html" class="navigation__link">Menu główne</a></li>
        <li class="navigation__item"><a href="/warehouseProducts.html" class="navigation__link">Produkty</a></li>
        <li class="navigation__item"><a href="/warehouseStock.html" class="navigation__link">Stock</a></li>
        <li class="navigation__item"><a href="/warehouseMainLocations.html" class="navigation__link">Magazyny</a></li>
        <li class="navigation__item"><a href="/warehouseStockLocations.html" class="navigation__link">Lokalizacje</a></li>
        <li class="navigation__item"><a href="/warehouseOrders.html" class="navigation__link">Zamówienia</a></li>
        <li class="navigation__item"><a href="/warehouseQuarantine.html" class="navigation__link">Kwarantanna</a></li>
        <li class="navigation__item"><a href="/warehouseStockControl.html" class="navigation__link">Kontrola Stocku</a></li>
        <li class="navigation__item"><a href="/warehouseEquipment.html" class="navigation__link">Wyposażenie magazynu</a></li>
        <li class="navigation__item"><a href="/warehouseStaff.html" class="navigation__link">Pracownicy</a></li>
    </ul>
</nav>