{% extends "warehouseBase.html" %}
{% block title %} Produkty {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    {{ super() }}
{% endblock %}

{% block main %}
    {{ super() }}
    <a href="{{ url_for('warehouse_equipment_add')}}" class="exercise__submit">Dodaj produkt</a>
    <table class="table">
        <tbody class="table__body">
            <tr class="table__row">
                <th class="table__cell table__heading">Nazwa Produktu</th>
                <th class="table__cell table__heading">Opis Produktu</th>
                <th class="table__cell table__heading">Kategoria</th>
            </tr>
            {% for product in all %}
            <tr class="table__row">
                <td class="table__cell">{{ product.product_name }}</td>
                <td class="table__cell">{{ product.product_description }}</td>
                <td class="table__cell">
                    {{ product.product_category.product_category_name }}
                </td>
            </tr>
            {% endfor %}
{% endblock %}