{% extends "warehouseBase.html" %}
{% block title %} Magazyny {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block main %}
    {{ super() }}
{% endblock %}

{% block body %}
    {{ super() }}
    <form method="POST">
        <input type="submit" value="Dodaj" class="exercise__submit">
    </form>
    <table class="table">
        <tbody class="table__body">
            <tr class="table__row">
                <th class="table__cell table__heading">Nazwa Magazynu</th>
                <th class="table__cell table__heading">Adres magazynu</th>
                <th class="table__cell table__heading">Akcje</th>
            </tr>
            {% for main_location in all %}
            <tr class="table__row">
                <td class="table__cell">{{ main_location.main_location_name }}</td>
                <td class="table__cell">{{ main_location.main_location_address }}</td>
                <td class="table__cell">
                    <a href="warehouseMainLocationsEdit.html?mainLocationId={{main_location.id}}"
                     class="table__link">Edytuj</a>
                     <a href="warehouseMainLocationsDelete.html?mainLocationId={{main_location.id}}"
                     class="table__link">Skasuj</a>
                </td>
            </tr>
            {% endfor %}
{% endblock %}